* {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: black;
}

.header {
    display: flex;
    color: white;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 30px;
}
